{% extends "base.html.twig" %}

{% block title %}WorkOrder
{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur OTMobility</h1>
        <p class="lead">C'est un générateur d'ordre de travail</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="{{ path('work_order_generator') }}" role="button">Créer OT</a>
</div>
</div>
{% endblock %}

