{% extends 'base.html.twig' %}

{% block title %}Générateur d'ordre de travail{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Générer un ordre de travail</h1>
</div>
{% endblock %}
